:root {
  --color-light-gray: 0 0% 87%;
}

.project-card {
  background: linear-gradient(
    hsl(var(--color-light-gray) / 0.2) 0%,
    transparent 50%,
    hsl(var(--color-light-gray) / 0.2) 100%
  );
  border-radius: 0.5em;
  padding: 1em;
}

.card__header {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding-bottom: 0.5em;
}

.card__header.select-mode {
  border-bottom: 1px solid hsl(var(--color-text) / 0.1);
  text-shadow: 0 2px 6px hsl(var(--color-text) / 0.1);
  transition: text-shadow 0.2s ease;
}

.chevron-down {
  width: 17px;
  fill: hsl(var(--color-text));
  flex-shrink: 0;
  transition: transform 0.2s ease;
}

.card__header.select-mode .chevron-down {
  transform: rotateX(-180deg);
}

.drop-down-container {
  position: relative;
  overflow-y: scroll;

  /* border: 1px solid black; */
  /* padding-top: 0.5em; */
}

.drop-down-list {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  padding: 0.75em;
  opacity: 0;
  z-index: 1;
  transform: scaleY(0);
  transition: transform 0.2s ease, opacity 0.2s ease;
  transform-origin: top;
  /* border: 1px solid salmon; */
}

.drop-down-list.open {
  transform: scaleY(1);
  opacity: 1;
}

.drop-down-list.open ~ .card__content,
.drop-down-list.open ~ .card__footer {
  opacity: 0;
}

.drop-down__item {
  background-color: hsl(var(--color-white));
  text-transform: capitalize;
  padding: 0.5em;
  border-radius: 0.25em;
  box-shadow: 0 2px 6px hsl(var(--color-text) / 0.1);
  transition: box-shadow 0.2s ease, color 0.2s ease;
  cursor: pointer;
}

.drop-down__item:hover {
  box-shadow: 0 2px 6px hsl(var(--color-text) / 0.2);
}

.drop-down__item.active {
  box-shadow: 0 2px 6px hsl(var(--color-brand) / 0.2);
  color: hsl(var(--color-brand));
}

.card__content {
  border-top: 1px solid hsl(var(--color-text) / 0.1);
  border-bottom: 1px solid hsl(var(--color-text) / 0.1);
  margin-bottom: 0.5em;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  transition: opacity 0.2s ease;
}

.project-techs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 1em;
}

.project-desc {
  text-align: justify;
}

.project-techs > li {
  color: hsla(var(--color-brand));
  text-transform: uppercase;
  border: 1px solid currentColor;
  border-radius: 0.5em;
  padding: 0.25em 0.75em;
  opacity: 0.6;
}

.project-features {
  padding-left: 0.75em;
  display: flex;
  flex-direction: column;
  gap: 0.5em 0;
  opacity: 0.9;
}

.check svg {
  width: 12px;
  fill: green;
}

.project-features > li {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 0 0.5em;
}

.card__footer {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  transition: opacity 0.2s ease;
}

.btn-primary-black {
  background-color: hsl(var(--color-text));
  color: hsl(var(--color-white));
  letter-spacing: 0.5px;
  font-weight: 600;
  border: 1px solid currentColor;
  border-radius: 0.25em;
  padding: 0.6em 1em;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-primary-black:hover {
  background-color: hsl(var(--color-white));
  color: hsl(var(--color-text));
}

.btn-secondary-black {
  color: hsl(var(--color-text) / 0.9);
  letter-spacing: 0.5px;
  font-weight: 600;
  border: 1px solid hsl(var(--color-text) / 0.2);
  border-radius: 0.25em;
  padding: 0.6em 1em;
  transition: border-color 0.2s ease, color 0.2s ease;
}

.btn-secondary-black:hover {
  color: hsl(var(--color-text));
  border-color: hsl(var(--color-text));
}

.projects-list {
  background: linear-gradient(
    to bottom,
    hsl(var(--color-light-gray) / 0.2),
    transparent
  );
  border-radius: 0.5em;
  padding: 1em;
  display: none;
}

.projects-list > h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid hsl(var(--color-text) / 0.1);
}

.projects-list > ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.projects-list__item {
  text-transform: capitalize;
  background-color: hsl(var(--color-white));
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  box-shadow: 0 2px 6px hsl(var(--color-text) / 0.1);
  transition: color 0.2s ease, box-shadow 0.2s ease;
}

.projects-list__item:hover {
  box-shadow: 0 2px 6px hsl(var(--color-text) / 0.2);
}

.projects-list__item.active {
  box-shadow: 0 2px 6px hsl(var(--color-brand) / 0.1);
  color: hsl(var(--color-brand));
}

@media screen and (min-width: 650px) {
  .project-title {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    /* font-size: 4rem; */
  }

  .project-techs {
    font-size: clamp(1rem, 2vw, 1.25rem);
  }

  .project-desc {
    max-width: 512px;
    font-size: clamp(1rem, 2vw, 1.25rem);
  }

  .project-features {
    font-size: clamp(1rem, 2vw, 1.25rem);
  }

  .projects-list__item,
  .drop-down__item {
    font-size: clamp(1rem, 2vw, 1.25rem);
  }
}

@media screen and (min-width: 1200px) {
  .card__header.select-mode {
    border-bottom: none;
    text-shadow: none;
  }

  .drop-down-toggler {
    display: none;
  }

  .drop-down-list.open ~ .card__content,
  .drop-down-list.open ~ .card__footer {
    opacity: 1;
  }

  .drop-down-list {
    display: none;
  }

  .project-card {
    align-self: flex-start;
  }

  .projects-list {
    display: block;
  }
}
