/* ================== */
/* Custom Properties */
/* ================ */
:root {
  --font-main: "Noto Sans", sans-serif;
  --font-heading-1: "Cuprum", sans-serif;
  --font-heading-2: "Oregano", cursive;

  /* hsl values */
  --color-brand: 212 100% 47%;
  --color-text: 221 58% 9%;
  --color-white: 0 0% 97%;
}

/* ======= */
/* Resets */
/* ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body,
h1,
h2,
p,
ul {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

/* ========== */
/* Utilities */
/* ======== */
.removed {
  display: none !important;
}

.hidden {
  opacity: 0 !important;
}

/* ============== */
/* Custom Styles */
/* ============ */
body {
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -40px;
  font-family: var(--font-main);
  color: hsl(var(--color-text));
  min-height: 100vh;
  overflow-x: hidden;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "header    header"
    "main      main"
    "rightSide rightSide"
    "footer    footer";
  gap: 3rem;
  margin: 1rem;
  align-items: center;
  /* height: calc(100% - 2rem); */

  /* grid-template-rows: repeat(12, 1fr); */
}

.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.left-side {
  grid-area: leftSide;
}
.right-side {
  grid-area: rightSide;
}
.footer {
  grid-area: footer;
}

.left-side,
.right-side {
  border: 1px solid black;
  border-radius: 0.2em;
}

/* Header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 25px;
  flex-shrink: 0;
}

.name {
  font-family: var(--font-heading-2);
  color: hsl(var(--color-brand));
  text-transform: capitalize;
  font-size: 19px;
  transition: opacity 1s ease-in-out;
}

.hamburger-btn {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.hamburger-btn__line {
  background-color: hsl(var(--color-text));
  width: 20px;
  height: 2px;
  border-radius: 100rem;
}

/* commented lines are for toggling mobile menu */
/* .nav-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: capitalize;
  flex-basis: 100%;
  display: none;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.nav-links.open {
  display: flex;
}

.moon {
  width: 12px;
} */

/* Main */
.title {
  font-family: var(--font-heading-1);
  font-size: 3.15rem;
  font-weight: bold;
  font-style: italic;
}

.subtitle {
  text-align: justify;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.btn-primary {
  background-color: hsl(var(--color-brand));
  color: hsl(var(--color-white));
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  box-shadow: 0 2px 6px hsla(var(--color-brand) / 0.4);
  transition: background-color, box-shadow 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: hsla(var(--color-brand) / 0.95);
  box-shadow: 0 6px 15px hsla(var(--color-brand) / 0.2);
}

/* Right Side */
.right-side {
  text-align: center;
  height: 150px;
  background-color: darkgray;
  border: currentColor;
}

/* Footer */
.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links a {
  padding: 0.25rem;
}

.social-links__email {
  letter-spacing: 1.5px;
  font-weight: bold;
}

.social-links svg {
  width: 17px;
}
