/* ================== */
/* Custom Properties */
/* ================ */
:root {
  --font-main: "Noto Sans", sans-serif;
  --font-heading-1: "Cuprum", sans-serif;
  --font-heading-2: "Oregano", cursive;

  /* hsl values */
  --color-brand: 212 100% 47%;
  --color-text: 221 58% 9%;
  --color-white: 0 0% 97%;
}

/* ======= */
/* Resets */
/* ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body,
h1,
h2,
p,
ul {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

/* ========== */
/* Utilities */
/* ======== */

/* ============== */
/* Custom Styles */
/* ============ */
body {
  font-family: var(--font-main);
  color: hsl(var(--color-text));
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -40px;
  /* min-height: 100vh; */
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
  min-height: 100vh;
}

/* Left Side */
.left-side {
  background-image: url("../images/bg-cyclone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -150px 10%;
  width: 20%;
  max-width: 250px;
  flex-shrink: 0;
  display: none;
}

/* Header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75em;
}

.logo {
  flex-shrink: 0;
  fill: hsl(var(--color-brand));
  width: 28px;
  cursor: help;
}

.name {
  font-family: var(--font-heading-2);
  font-size: 25px;
  color: hsl(var(--color-brand));
  text-transform: uppercase;
  letter-spacing: 0.5px;
  min-width: max-content;
  transition: opacity 1s ease-in-out;
}

.name span {
  display: none;
}

.hamburger-btn {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.hamburger-btn__line {
  background-color: hsl(var(--color-text));
  width: 23px;
  height: 3px;
  border-radius: 100rem;
}

.nav-links {
  text-transform: capitalize;
  font-weight: 600;
  display: none;
}

.moon {
  width: 15px;
}

/* commented lines are for toggling mobile menu */
/* .nav-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: capitalize;
  flex-basis: 100%;
  display: none;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.nav-links.open {
  display: flex;
}

.moon {
  width: 12px;
} */

/* Main */
.main {
  flex-grow: 1;
  /* max-width: 370px; */
  margin-inline: auto;
  /* border: 1px solid black; */
}

.title {
  font-family: var(--font-heading-1);
  font-size: clamp(2rem, 11vw, 3.15rem);
  /* font-size: 3.15rem; */
  font-weight: bold;
  font-style: italic;
}

.subtitle {
  text-align: justify;
  text-justify: inter-word;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.btn-primary {
  background-color: hsl(var(--color-brand));
  color: hsl(var(--color-white));
  letter-spacing: 0.5px;
  font-weight: 600;
  border-radius: 0.25em;
  padding: 0.6em 1em;
  box-shadow: 0 2px 6px hsla(var(--color-brand) / 0.4);
  transition: background-color, box-shadow 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: hsla(var(--color-brand) / 0.95);
  box-shadow: 0 6px 15px hsla(var(--color-brand) / 0.2);
}

/* Right Side */
.right-side {
  text-align: center;
  height: 150px;
  background-color: darkgray;
  border-radius: 0.2em;
  margin-top: 2rem;
}

/* Footer */
.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-links li {
  flex-shrink: 0;
}

.social-links a {
  padding: 0.25rem;
}

.social-links__email {
  letter-spacing: 1.5px;
  font-weight: 600;
}

.social-links__email svg {
  display: block;
}
.social-links__email span {
  display: none;
}

.social-links svg {
  width: 17px;
}

/* ============== */
/* Media Queries */
/* ============ */

@media screen and (min-width: 288px) {
  .name {
    text-transform: capitalize;
  }

  .name span {
    display: inline;
  }

  .subtitle {
    line-height: 1.5em;
    margin-top: 0.75em;
    margin-bottom: 2.25em;
  }
}

@media screen and (min-width: 340px) {
  .social-links__email svg {
    display: none;
  }
  .social-links__email span {
    display: block;
  }
}

@media screen and (min-width: 500px) {
  .container {
    padding: 2rem;
  }
}

@media screen and (min-width: 568px) {
  .container {
    flex-grow: 1;
    padding: 2rem 3rem;
  }

  .left-side {
    display: block;
  }

  .split-screen {
    display: flex;
  }

  body {
    background-position: 7vw;
  }

  .navbar > .logo {
    display: none;
  }

  .left-side .logo {
    fill: hsl(var(--color-white));
    width: 35px;
    margin: 1.85rem auto;
  }
}

@media screen and (min-width: 650px) {
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
  }

  .hamburger-btn {
    display: none;
  }

  .social-links {
    max-width: 450px;
    margin-left: auto;
  }
}
