/* ================== */
/* Custom Properties */
/* ================ */
:root {
  --font-main: "Noto Sans", sans-serif;
  --font-heading-1: "Cuprum", sans-serif;
  --font-heading-2: "Oregano", cursive;

  /* hsl values */
  --color-brand: 212 100% 47%;
  --color-text: 221 58% 9%;
  --color-white: 0 0% 97%;

  --shadow: 0 0 3px hsl(var(--color-text) / 0.2);
}

/* ======= */
/* Resets */
/* ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body,
h1,
h2,
p,
ul {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

/* ========== */
/* Utilities */
/* ======== */

/* ============== */
/* Custom Styles */
/* ============ */
body {
  font-family: var(--font-main);
  color: hsl(var(--color-text));
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -40px;
  /* min-height: 100vh; */
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
  padding: clamp(1rem, 5vw, 2rem);
  min-height: 100vh;
}

/* Left Side */
.left-side {
  background-image: url("../images/bg-cyclone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20%;
  max-width: 240px;
  flex-shrink: 0;
  display: none;
}

/* Header */

.navbar {
  margin-top: 0.25em;
  border-top: 1px solid hsl(var(--color-text) / 0.1);
}

.logo {
  cursor: help;
}

.name {
  font-family: var(--font-heading-2);
  font-size: 1.5rem;
  color: hsl(var(--color-brand));
  text-transform: capitalize;
  letter-spacing: 0.5px;
  text-shadow: 0 0 3px hsl(var(--color-brand) / 0.1);
  transition: opacity 1s ease;
}

.nav-links {
  text-transform: capitalize;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nav-links::-webkit-scrollbar {
  display: none;
}

.fade-scroll {
  position: relative;
}

.fade-scroll::before,
.fade-scroll::after {
  content: "";
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.fade-scroll::before {
  background: linear-gradient(to right, hsl(var(--color-white)), transparent);
  left: 0;
}

.fade-scroll::after {
  background: linear-gradient(to left, hsl(var(--color-white)), transparent);
  right: 0;
}

.fade-scroll.fade-left::before,
.fade-scroll.fade-right::after {
  opacity: 1;
}

.nav-item {
  color: hsl(var(--color-text));
  fill: hsl(var(--color-text));
  padding: 0.25em 0;
  transition: fill 0.2s, color 0.2s;
  cursor: pointer;
  transition: text-shadow 0.2s ease;
}

.nav-item:hover {
  color: hsl(var(--color-text));
  fill: hsl(var(--color-text));
  text-shadow: var(--shadow);
}

.nav-item.active {
  color: hsl(var(--color-brand));
  text-shadow: 0 0 3px hsl(var(--color-brand) / 0.1);
}

.nav-item:hover svg {
  transition: filter 0.2s ease;
}

.nav-item:hover svg {
  filter: drop-shadow(var(--shadow));
}

.moon {
  width: 16px;
  margin-left: auto;
  flex-shrink: 0;
}

/* Main */
.main {
  flex-grow: 1;
}

.title {
  font-family: var(--font-heading-1);
  font-size: clamp(2rem, 11vw, 3.15rem);
  font-weight: bold;
  font-style: italic;
}

.subtitle {
  text-align: justify;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.btn-primary {
  background-color: hsl(var(--color-brand));
  color: hsl(var(--color-white));
  letter-spacing: 0.5px;
  font-weight: 600;
  border-radius: 0.25em;
  padding: 0.6em 1em;
  box-shadow: 0 2px 6px hsl(var(--color-brand) / 0.4);
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.btn-primary:hover {
  background-color: hsl(var(--color-brand) / 0.95);
  box-shadow: 0 6px 15px hsl(var(--color-brand) / 0.2);
}

/* Right Side */
.right-side {
  margin-top: 2rem;
}

/* Footer */
.alert {
  background-color: hsl(var(--color-text));
  color: hsl(var(--color-white));
  position: fixed;
  bottom: 80px;
  left: 50%;
  letter-spacing: 0.5px;
  font-weight: 600;
  border-radius: 0.25em;
  padding: 0.6em 1em;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.2s ease;
}

.alert.show {
  opacity: 1;
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-links li {
  flex-shrink: 0;
  transition: text-shadow 0.2s ease;
}

.social-links li:hover {
  text-shadow: var(--shadow);
}

.social-links a {
  padding: 0.25rem;
}

.social-links__email {
  letter-spacing: 1.5px;
  font-weight: 600;
  cursor: pointer;
}

.social-links svg {
  width: 16px;
  transition: filter 0.2s ease;
}

.social-links li:hover svg {
  filter: drop-shadow(var(--shadow));
}

.social-links__email svg {
  display: block;
}
.social-links__email span {
  display: none;
}

/* ============== */
/* Media Queries */
/* ============ */

@media screen and (min-width: 340px) {
  .subtitle {
    line-height: 1.5em;
    margin-top: 0.75em;
    margin-bottom: 2.25em;
  }

  .social-links__email svg {
    display: none;
  }

  .social-links__email span {
    display: block;
  }
}

@media screen and (min-width: 568px) {
  .container {
    flex-grow: 1;
    padding: clamp(2rem, 5vw, 4rem) clamp(3rem, 7vw, 6rem);
  }

  .left-side {
    display: block;
  }

  .split-screen {
    display: flex;
  }

  body {
    background-position: 7vw;
  }

  .left-side .logo {
    fill: hsl(var(--color-white));
    width: clamp(35px, 5vw, 50px);
    margin: clamp(1.85rem, 4vw, 3.5rem) auto;
  }
}

@media screen and (min-width: 650px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
  }

  .navbar {
    border: none;
    max-width: 500px;
    flex-basis: 35%;
  }

  .moon {
    margin: 0;
  }

  .name {
    font-size: clamp(1.5rem, 3vw, 2.25rem);
    letter-spacing: 1px;
  }

  .nav-links,
  .social-links,
  .btn-primary {
    font-size: clamp(1rem, 2vw, 1.25rem);
    letter-spacing: 0.5px;
  }

  .moon {
    width: clamp(16px, 2.25vw, 20px);
  }

  .title {
    font-size: clamp(3.15rem, 6vw, 6rem);
    /* font-size: 4rem; */
  }

  .subtitle {
    max-width: 512px;
    font-size: clamp(1rem, 2vw, 1.25rem);
  }

  .social-links {
    max-width: 450px;
    margin-left: auto;
  }

  .social-links svg {
    width: clamp(16px, 2.25vw, 20px);
  }
}

@media screen and (min-width: 1200px) {
  .main {
    display: flex;
    gap: 5em;
  }

  .right-side {
    height: auto;
    margin: 0;
    flex-grow: 1;
  }
}
